{# extind tempalte-ul de baza, aducand doar modificarile specifice acestei pagini #}
{% extends 'base.html.twig' %}

{# blocul unde se seteaza titlul paginii curente #}
{% block title %}Editare angajat{% endblock %}

{% block stylesheets %}
    {# adaugare pagina custom de CSS #}
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../../css/style.css">
{% endblock %}

{% block body %}
    <h2>Editare angajat</h2>
    <br />
    {# locul unde va fi atasat formularul #}
    {{ form(form) }}
{% endblock %}
