{# extind tempalte-ul de baza, aducand doar modificarile specifice acestei pagini #}
{% extends 'base.html.twig' %}

{# blocul unde se seteaza titlul paginii curente #}
{% block title %}Editare angajat{% endblock %}

{% block body %}
    <h2>Editare angajat</h2>
    <br />
    {# locul unde va fi atasat formularul #}
    {{ form(form) }}
{% endblock %}
