{# extind tempalte-ul de baza, aducand doar modificarile specifice acestei pagini #}
{% extends 'base.html.twig' %}

{# blocul unde se seteaza titlul paginii curente #}
{% block title %}{% trans into '' ~ app.request.getLocale() %}Editare angajat{% endtrans %}{% endblock %}

{% block body %}
    <h2>{% trans into '' ~ app.request.getLocale() %}Editare angajat{% endtrans %}</h2>
    <br />
    {# locul unde va fi atasat formularul #}
    {{ form(form) }}
{% endblock %}
