body {
    text-align: center;
}

.clickable-td:hover {
    cursor: pointer;
}

td {
    text-align: center;
}

table > thead {
    font-weight: bold;
}

form {
    padding: 50px 50px 50px 50px;
    border: solid 6px #291337;
    width:50%;
    height: 50%;
    display: inline-block;
    text-align: left;
}

.detalii {
    margin: 0px;
    font-size: 18px;
    text-align: left;
    color:#269aed;
}

label {
    color: #291337;
    font-weight: bold;
    padding-right: 5px;
}