{% extends "base.html.twig" %}

{% block body %} 
    <h2>Welcome to GestCon(Gestionarea Concediilor)</h2>
    <br /><br /><br />
    <p>Powered by</p>
    <!-- <img src="img/logo.png"></img> -->
    <img src="{{ asset('build/images/logo.png')}}"></img>
{% endblock %}
